body {
  font-family: Verdana, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

header,
footer {
  background: #f57c44;
  padding: 10px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #131212;
}

#delayed-img {
  display: none;
  width: 450px;
  height: 550px;
}
