body {
  font-family: Verdana, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

header,
footer {
  background: #f57c44;
  padding: 20px;
  text-align: center;
  margin: 0;
}

header {
  color: #0a0a0a;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #131212;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px; /* adds space between input and button */
}

input {
  padding: 8px;
  margin-right: 10px;
  width: 150px;
}

button {
  padding: 8px 16px;
  background-color: #d4124d;
  color: rgb(255, 249, 249);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

#validation-message {
  color: red;
  margin-top: 10px;
}

#grade-output {
  font-weight: bold;
  margin-top: 10px;
}
